.App {
  font-family: sans-serif;
}

.code-snippet {
  width: 300px;
  background: #f5f5f5;
  padding: 0.1rem;
}

.code-snippet1 {
  width: 50vw;
  background: #f5f5f5;
  padding: 0.1rem;
  padding-left: 0.4rem;
  color: grey;
}

.code-section {
  position: relative;
  width: 100%;
}

.code-section pre {
  font-size: 120%;
}

.code-section span {
  position: absolute;
  right: 0;
  top: 5%;
  bottom: 0;
  font-size: 120%;
}

.titleGrey {
  color: grey;
  padding-bottom: 5vh;
}

.titleVeryDark {
  color: DimGray;
}

